

.main-container {
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    // Header
    .main-header{
        width: 100%;
        height: 10vh;

        display: flex;
        justify-content: flex-end;

        .right-links{
            width: 100%;
            height: 100%;

            padding-right: 15px;            
           display: flex;
           justify-content: flex-end;
           align-items: center;

            a{
                margin-left: 20px;
            }
            a:hover{
                text-decoration: underline;
            }
           .mini-menu{
               border-radius: 50%;
               margin: 10px;
               width: 42px;
               height: 42px;

                display: flex;
                justify-content: center;
                align-items: center;

                .bento-menu{
                    width: 50%;
                    height: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

    
            
           }
           .mini-menu:hover{
                cursor: pointer;
                background: #ddd;
           }
           
           .profile-icon{

               border-radius: 50%;
               width: 42px;
               height: 42px;

               display: flex;
               justify-content: center;
               align-items: center;

               i{
                   background-color: #fff;
                   border-radius: 50%;
                   width:90%;
                   height:90%;

                   display: flex;
                   justify-content: center;
                   align-items: center;
               }

           }
           .profile-icon:hover{
            cursor: pointer;
            background: #ddd;
           }

        }

    }
    // Main
    .main-content{
        width: 100%;
        height: 75vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        .title-tag:hover{
            cursor: pointer;
        }
        .search-section{
            width: 100%;
            padding-inline: 10px;
           
            .search-bar{
                border: 1px solid #ddd;
                border-radius: 50px;
                min-width: 300px;
                max-width: 600px;
                height: 40px;
                margin:auto;
    
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    height: 40px;
                    display: flex;
                }
                img{
                    width: 15px;
                }
               
                input{
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;
                    width: 80%;
                    height: 35px;
                    margin: 0 5px 0 5px;
                    padding-left: 10px;
                }
                input:focus{
                    outline: none;
                }
            }
            .search-bar:hover{
                box-shadow: 0px 2px 12px 3px rgba(156,156,156,0.25);
            }
            .sub-search-btn{
                height: 25px;
                margin: 50px;
                display: flex;
                justify-content: center;
                box-sizing: content-box;
    
                button{
                    border: none;
                    background-color: #f8f9fa;
                    
                    padding: 15px;
                    display: flex;
                    align-items: center;

                }
                button:hover{
                    border: 1px solid #ddd;
                }
                button:nth-child(1){
                    margin-right: 50px;
                }
            }
    
            .language-prefer{
                display: flex;
                justify-content: center;
    
                a, label{
                    margin-right: 10px;
                }
                a{
                    color: #1a0dab;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        }
        

       

    
    footer{
        width: 100%;
        height: 15vh;
        background-color: #f2f2f2;
        color: rgba(0,0,0,.54);

        .country{
            height: 7vh;
            display: flex;
            align-items: center;
            border: .3px solid #ddd;
            span{
                padding-left: 30px;
            }
        }
       

        .sub-footer{
            height: 7vh;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 30px;
            padding-left: 3%;

            a{  
                color: rgba(0,0,0,.54);
                margin-right: 10px;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        
    }
}